
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    gap: 20px;
}

.calculatorDiv{
    width: 400px;
    height: 600px;
    border: 2px solid #333;
    border-radius: 15px;
    padding:20px;
    display: grid;
    grid-template:repeat(7,1fr)/repeat(4,1fr);
    gap: 10px;
    background-color: rgb(146, 249, 249);
}

#display{
    grid-area: span 2/span 4;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: aliceblue;
    text-align: end;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#display-old{
    /* background-color: #ffffff; */
    grid-area: span 1;
    font-size: 36px;
    color: #818181;
    align-self: flex-end;
    padding: 10px;
}
#display-curent{
    /* background-color: #5a5a5a; */
    grid-area: span 2;
    font-size: 48px;
    color: black;
    align-self: flex-end;
    padding: 10px;
}

.calculatorDiv > button{
    border-radius: 5px;
    font-weight: 400;
    font-size: 28px;
    background-color: rgb(255, 255, 255);
}
#delete{
    background-color: rgb(252, 58, 58);
}
#delete:hover{
    background-color: rgb(245, 95, 95);
}
#delete:active{
    background-color: rgb(189, 41, 41);
}
.calculatorDiv > button:hover{
    background-color: aliceblue;
}
.calculatorDiv > button:active{
    background-color: rgb(166, 213, 236);
    transform: scale(0.95);
}

#clear{
    grid-column: span 2;
}
#delete{
    grid-column: span 2;
}

.footer{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 400;
}
.footer > p >a{
    color: black;
}
.footer > p >a:hover{
    color: black;
    padding: 2px;
    border: 1px solid #333;
    border-radius: 5px;
}